body{
  background-color: white;
  font-family:"Arial", sans-serif;
}

.topnav {
    list-style-type: none;
    margin: 8px 5px 8px 8px;
    padding: 0;
    overflow: hidden;
    font-size: 13px;
}

li {
    float: right;
    padding: 15px ;


}

li a {
    display: block;
    color: black;
    background-color: white;
}

.bell{
  border-radius: 50%;
  height: 20px;
  width: 20px;


}

.profile{
margin-top: 8px;
width: 3px;
height: 3px;
border-radius: 50%;
background-color: #E831DB;
}

.google{
  padding-top: 110px;
  margin:auto;

}

  .searchbox{
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 30px;
    height: 38px;
    width: 484px;
}

.bottomnavleft {
    list-style-type: none;
    margin: 8px 5px 8px 8px;
    padding: 0;
    overflow: hidden;
    font-size: 13px;
    float: left;
}

.bottomnavright{
    list-style-type: none;
    margin: 8px 5px 8px 8px;
    padding: 0;
    overflow: hidden;
    font-size: 13px;
    float: right;
}

.footer {
    font-size: small;
    background: #F2F2F2;
    border-top: 1px solid #E4E4E4;
    line-height: 1px;
    min-width: 980px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

span {
    display:block;
    text-align:center;
}

p{
  color:white;
  font-size: 20px;
  position: relative;
  top: -12px;
  right: 6px;
}
.glyphicon-bell{
  position: relative;
  top: -3px;
  right: 6px;
}

.fa-microphone{
  position: absolute;
}

.gsearch, .lucky {

    background-image:linear-gradient(top, #F5F5F5, #F1F1F1);
    background-color:   #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    height:3em;
    margin-right: 4px;
    margin-left: 4px;
    min-width: 54px;
    padding: 0px 16px;
    text-align: center;
}
