body{
  background-color: white;
}

ul {
    list-style-type: none;
    margin: 8px 5px 8px 8px;
    padding: 0;
    overflow: hidden;
    font-size: 13px;
}

li {
    float: right;
    padding: 15px ;


}

li a {
    display: block;
    color: black;
    background-color: white;
}

.bell{
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.profile{
width: 35px;
height: 35px;
border-radius: 50%;
background-color: #E831DB;


}
