body{
  background-color: white;
}

ul {
    list-style-type: none;
    margin: 8px 5px 8px 8px;
    padding: 0;
    overflow: hidden;
    font-size: 13px;
}

li {
    float: right;
    padding: 15px ;


}

li a {
    display: block;
    color: black;
    background-color: white;
}

.bell{
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.profile{
width: 3px;
height: 3px;
border-radius: 50%;
background-color: #E831DB;
}

.google{
  padding-top: 110px;
  margin:auto;

}

  .searchbox{
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 30px;
    height: 38px;
    width: 484px;
}
